.container-laptime {
	margin: 5px auto;
	width: 60%;
}

.container-stopwatch {
	margin: 10px auto;
	width: 60%;
	height: 100%;
}

.start-button {
	background-color: red;
	border-color: red;
	color: white;
}

.start-button:hover {
	background-color: #ff4d4f;
	border-color: #ff4d4f;
	color: white;
}

.start-button:focus {
	background-color: #ff4d4f;
	border-color: #ff4d4f;
	color: white;
}

.pause-button {
	background-color: #fd7f08;
	border-color:  #fd7f08;
	color: white;
}

.pause-button:hover {
	background-color: #ffa940;
	border-color: #ffa940;
}

.pause-button:active {
	background-color: #ffa940;
}

.pause-button:focus {
	background-color: #ffa940;
	border-color: #ffa940;
}

.lap-button {
	background-color: green;
	border: green;
	color: white;
}

.lap-button:hover {
	background-color: #389e0d;
	border-color: #389e0d;
	color: white;
}

.lap-button:active {
	background-color: #389e0d;
}

.lap-button:focus {
	background-color:#389e0d;
}

.reset-button {
	border-color: red;
	background-color: #ffccc7;
	color: red;
}

.reset-button:hover {
	background-color: red;
	border-color: red;
	color: white;
}

.reset-button:active {
	background-color: red;
	border-color: red;
}

.reset-button:focus {
	background-color: red;
	border-color: red;
}

.resume-button {
	background-color: #1890ff;
	background-color: #1890ff;
	color: white;
}

.resume-button:hover {
	background-color: #40a9ff;
	border-color: #40a9ff;
}

.resume-button:active{
	background-color: #40a9ff;
}

.resume-button:focus{
	background-color: #40a9ff;
	border-color: #40a9ff;
}
